<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Recetas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControladorIngredientes</display-name>
    <servlet-name>ControladorIngredientes</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.ControladorIngredientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorIngredientes</servlet-name>
    <url-pattern>/ingredientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorTiposCocina</display-name>
    <servlet-name>ControladorTiposCocina</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.ControladorTiposCocina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTiposCocina</servlet-name>
    <url-pattern>/tiposCocina</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorCategorias</display-name>
    <servlet-name>ControladorCategorias</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.ControladorCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorCategorias</servlet-name>
    <url-pattern>/categorias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorRecetas</display-name>
    <servlet-name>ControladorRecetas</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.ControladorRecetas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorRecetas</servlet-name>
    <url-pattern>/recetas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorElementos</display-name>
    <servlet-name>ControladorElementos</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.ControladorElementos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorElementos</servlet-name>
    <url-pattern>/elementos</url-pattern>
  </servlet-mapping>
</web-app>