<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Recetas</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorElementos</display-name>
    <servlet-name>ControladorElementos</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.ControladorElementos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorElementos</servlet-name>
    <url-pattern>/elementos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorInicio</display-name>
    <servlet-name>ControladorInicio</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.ControladorInicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorInicio</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorLogin</display-name>
    <servlet-name>ControladorLogin</servlet-name>
    <servlet-class>com.javireal.casa.recetas.controladores.ControladorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.javireal.casa.recetas.listeners.ListenerInicio</listener-class>
  </listener>
</web-app>